@import "normalize";
@import "compass/css3";

body {
    background: #fefee9;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Layout
.l_wrapper {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 650px;
    background-color: #fff;
}

// Helper
.fl_l {
    float: left;
}
.fl_r {
    float: right;
}
.clearfix:before ,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both;
}

// Box
.bx_todo_add {
    margin: 10px;
}
.bx_todo_content {
    @include border-radius(5px);
    margin: 10px;
    padding: 0;
    border: 1px solid #aebac5;
    list-style-type: none;
}
.bx_todo_item {
    padding: 10px;
    border-bottom: 1px solid #aebac5;
    &:last-child {
        border-bottom: none;
    }
    &:nth-child(even) {
        background-color: #fafbfc;
    }
}
.bx_add_time {
    display: block;
}

//Button
.btn {
  @include box-shadow(inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15));
  display: inline-block;
  padding: 4px 25.6px;
  border: 1px solid #d4d4d4;
  background-color: #eee;
  color: #333;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px white;
  font-size: 14px;
  cursor: pointer;
  @include background(linear-gradient(top, #fbfbfb, #e1e1e1));
  @include border-radius(3px);
    &:active {
        @include box-shadow(inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white);
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
        background: #eee;
        color: #bbb;
    }
}
.btn_delete_all {
    margin: 0;
}

// is
h1 {
    margin: 0;
    padding: .5em 10px;
    font-size: 16px;
    color: #fff;
    .is_design1 & {
        background-color: #fa6900;
    }
    .is_design2 & {
        background-color: #542437;
    }
    .is_design3 & {
        background-color: #fe4365;
    }
    .is_design4 & {
        background-color: #556270;
    }
    .is_design5 & {
        background-color: #774f38;
    }
}
.is_checked {
    #js_body & {
        background-color: #333;
        color: #999;
        opacity: .8;
    }
}
